/* Ini File CSS */
main {
    display: flex;
    gap: 32px;
    padding: 32px;
}
footer {
    text-align: center;
}
.main-header {
   text-align: center;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
form {
    background-color: aliceblue;
    padding: 32px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

button {
    border: none;
    padding: 8px;
} 

.btn-primary {
    background-color: lightblue;
    color: black;
}
 .btn-default {
    background-color: burlywood;
    color: antiquewhite;
 }

 .result-section {
    text-align: center;
    background-color: antiquewhite;
    padding: 16px;
} 

.form-horizontal .control-label {
    text-align: left;
    margin-bottom: 10px;
}

.form-control {
    height: 40px;
    border: 1px solid #B3D7E9;
}

.input-group-addon {
    background-color: #CCE4F0;
    border: 1px solid #b3d7e9;
}

#result-bmi {
    font-size: xxx-large;
    font-family: math;
    text-size-adjust: auto;
}

footer {
    text-align: center;
    padding: 16px;
    background-color: #62e7d3;  /
} 

@media only screen and (max-width: 768px) {
    main {
       flex-direction: row; 
    }
    }

